ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
li {
    list-style: none;
    background-color: gray;
    height:30px;
    min-width: 250px;
    width: 100%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border: 2px solid yellow;
    padding:5px 10px;
    font-weight: 600;
    margin:10px;
    border-radius: 10px;
    
}


li > p {
    display: inline-block;
    flex: 1;
    text-align: center;
}

li > button {
    font-weight: 600;
}

li > button:hover {
    font-weight: 600;
    background-color: red;
    border: 2px solid red;
    color:white;
}