body {
    margin: 0;
   

}
.container {

    width: 100vw;
    min-width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 50px;
}